.search-container {
    max-width: 360px;
    display: flex;
    justify-content: left;
    margin-top: 30px;
    padding: 0;
    position: relative;
}

.search-container:hover,
.search-container:focus-within {
    transform: scale(1.05);
    transition: 0.8s;
}

#search-input {
    color: #cfcfcf;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    outline: none;
}

#search-input:hover,
#search-input:focus-within {
    border: 2px solid #008aca;
}

#search-button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #008aca;
    color: white;
    cursor: pointer;
    border-radius: 0;
}

@media screen and (max-width: 768px) {
    
    .search-container {
        width: 240px;
    }
    
    .search-container:hover,
    .search-container:focus-within {
        transform: none;
    }
  }