.countries {
    width: 100%;
    height: fit-content;
    padding: 30px;
    text-align: center;
}

.countries h2 {
    font-size: 30px;
}

.country-list {
    max-width: 1100px;
    display: flex;
    margin: 50px auto;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

@media screen and (max-width: 700px) {

    .countries {
        padding: 75px 20px;
    }
    
    .country-list {
        margin-top: 20px;
        justify-content: space-around;
        gap: 10px;
    }

  }